body {
    font-family: arial, sans-serif;
}

#logo-container{
    display: block;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search {
    display: block;
    width: 425px;
    height: 35px;
    border-radius: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


#buttons{
    width: 27%;
    margin-left: auto;
    margin-right: auto;
}

input[type=button]{
    border: 0;
    box-shadow: none;
    border-radius: 0;
    height: 35px;
}

nav {
    display: block;
    height: 30px;
    margin-top: 20px;
}

nav li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.align-right{
    float: right;
}

.align-left{
    float: left;
}